#cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
}

.full {
    background-color: whitesmoke;
    border: black solid;
    border-radius: 5px;
    z-index: 2;
    position: relative;
}