#calculator {
    border: solid black 1px;
    padding: 4px;
    border-radius: 4px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
form{
    width: 100%;
}
#calculator  input[type='text'] {
    text-align: right;
}
#output {
    background-color: darkseagreen;
    width: 92%;
    margin-left: 5px;
    font-size: 1.3rem;
    border-radius: 8px;
    padding-right: 8px;
}
#buttontable {
    width: 100%;
    font-size: 1.0rem;
}
#buttontable  input {
    width: 100%;
    height: 32px;
    padding: 0;
}